.gallery1,
.gallery2,
.gallery3{
    width: 100%;
    display: flex;
    justify-content: center;
}
.gallery1{
    margin-top: 30px;
}
.gallery3{
    margin-bottom: 30px;
}
.photobox{
    width: 25%;
    margin: 1%;
    border-radius: 0% 25%;
}
.photobox img{
    border-radius: 0% 25%;
}