@media (max-width: 991px) {
      .nav-icons{
      position: absolute;
      right:60px;
      top:-5px;
      }
      .custom-nav{
      position: relative;
      }
      .btn-close{
      right:27px;
      top:15px;
      z-index: 4;
      border:1px solid grey;
      border-radius: 50%;
      }
}
.logo{
    width:103px;
}
.l1{
    top:78%;
    min-width: 140px;
}
 /*morenews*/
 .l3,
 .l4{
    width:98px;
    height:30px;
 }
 /*.rownews2height{
    margin-bottom: 450px;
 }*/

 .img-height{
    height: 300px;
 }