
    .navbar-brand
    {
        position:absolute;
        top:0;
        margin: 0;
    }
    .nav-icons{
        position: absolute;
        right:5px;
    }
    .custom-nav{
        position: relative;
    }
    .navbar ul{
        width: 100%;
        display:d-flex;
        justify-content:center;
    }

.logo{
    width:133px;
}
.l1{
    left:66%;
    top:57%;
    min-width: 180px;
}
.l2{
    width:13vw;
    left:13%;
    top:43%;
    min-width: 180px;
}
 /*morenews*/
 .l3,
 .l4{
    width:128px;
    height:38px;
 }
 .rownews{
    height:463px;
 }
