
      .nav-icons{
      position: absolute;
      right:60px;
      top:-5px;
      }
      .custom-nav{
      position: relative;
      }
      .btn-close{
      right:27px;
      top:15px;
      z-index: 4;
      border:1px solid grey;
      border-radius: 50%;
      }
      .gallery2 p{
         font-size:calc(1vw + 12px);
     }
     .gallery2 h4{
         font-size:calc(1vw + 15px);
     }
     .gallery2 .card-body h5{
         font-size:calc(1vw + 15px);
     }
.logo{
    width:103px;
}
.l1{
    top:78%;
    min-width: 140px;
}
 /*morenews*/
 .l3,
 .l4{
    width:98px;
    height:30px;
 }
 /*.rownews2height{
    margin-bottom: 450px;
 }*/

 .img-height{
    height: 300px;
 }
 .navbar-toggler:focus{
   box-shadow: none;
 }