@media all and (max-width:340px) {
    .brrrrrr {
        display: block;
    }
}
@media all and (min-width:340px) {
    .brrrrrr {
        display: none;
    }
}
            .nav-icons{
            position: absolute;
            right:60px;
            top:-5px;
            }
            .custom-nav{
            position: relative;
            }
            .btn-close{
            right:27px;
            top:15px;
            z-index: 4;
            border:1px solid grey;
            border-radius: 50%;
            }
            .navbar-toggler:focus{
                box-shadow: none;
              }

.logo{
    width:103px;
}
.l1{
    top:78%;
    min-width: 140px;
}
.gallery2 p{
    font-size:calc(1vw + 7px);
}
.gallery2 h4{
    font-size:calc(1vw + 10px);
}
.gallery2 .card-body h5{
    font-size:calc(1vw + 10px);
}
 /*morenews*/
 .l3,
 .l4{
    width:98px;
    height:30px;
 }
 .rownews2height{
    height:438px;
 }
 .img-height{
    height: 180px;
 }