

@font-face {
    font-family: 'muliregular';
    src: url('../font/webfontkit-20231202-123258/muli-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulibold';
    src: url('../font/webfontkit-20231202-123258/muli-bold-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulibolditalic';
    src: url('../font/webfontkit-20231202-123258/muli-bolditalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muliextralight';
    src: url('../font/webfontkit-20231202-123258/muli-extralight-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muliextralightitalic';
    src: url('../font/webfontkit-20231202-123258/uli-extralightitalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muliregularitalic';
    src: url('../font/webfontkit-20231202-123258/muli-italic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulilight';
    src: url('../font/webfontkit-20231202-123258/muli-light-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulilightitalic';
    src: url('../font/webfontkit-20231202-123258/muli-lightitalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulisemibold';
    src: url('../font/webfontkit-20231202-123258/muli-semibold-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulisemibolditalic';
    src: url('../font/webfontkit-20231202-123258/muli-semi-bolditalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-semi-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'muliregular';
    src: url('../font/webfontkit-20231202-123258/muli-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html,body{
    font-family: 'muliregular';
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,li{
    list-style-type: none ;
}
/*header*/ 
.dropdown-menu{
    border-radius: 0;
}
.mainimage{
    background:url(../images/boyheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bordcir{
    width: 38px;
    height: 38px;
    border: 1px solid rgb(140, 140, 140);
}
.bordcir:hover{
    border:none;
    background-image:linear-gradient(0deg, rgba(195,34,189,1) 0%, rgba(45,154,253,1) 100%);
    transition: 1s ease-in-out;
}
.social{
    right: 40px;
}
.btn1{
    font-family: 'mulilight';
    font-size:calc(1vw + 2px);
    background-color: rgb(199, 59, 199);
    border: none;
    border-radius: 0;
}
/*service provider*/
    .line{
        width: 1px;
        height:75px;
    }
    .tf2{
        font-size: calc(1vw + 2px);
        font-family: 'muliextralight';
    }
    .tf3{
        font-size: calc(3vw + 7px);
        font-weight: 700;
        line-height: 60px;
        font-weight: bolder;
    }
/*boxes*/
        .boxes{
            border:1px solid rgba(195, 190, 190, 0.413);
            transition: 1s;
        }
        .boxes:hover{
            border:1.5px solid rgb(132, 40, 212);
        }
        .boxes h4{
            font-family: 'muliregular';
            font-size: calc(1vw + 8px);
            font-weight: bold;
        }
        .boxes p{
            font-family: 'mulilight';
            color: #5b626a;
            font-size: calc(1vw + 3px);
        }

.btn-outline-primary{
    border-radius: 0;
}

.bigimagebox{
    margin-top:-370px;
}

.bigimagebox .oneimage {
    margin-bottom: 20px;
}

.bigimagebox .oneimage .aks {
    height: 410px;
}

.bigimagebox .oneimage .aks img {
    width: 100%;
    height: 100%;
}

.bigimagebox .oneimage .page2{
    left: 0;
    top: 0;
    background: rgba(159, 92, 253, 0.6);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.bigimagebox .oneimage .page2 .title {
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.bigimagebox .oneimage .page2 h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.bigimagebox .oneimage:hover .page2 {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
}
/*about*/
    .about{
        padding-top: 75px;
        padding-bottom: 150px;
    }
    .about-text h3 {
        font-weight: 700;
        font-family: 'mulibold';
        font-size: 50px;
        line-height: 60px;
    }
    .about-text p {
        color: rgb(101, 101, 101);
        font-size: 17px;
        line-height: 28px;
        font-weight: 400;
        font-style: normal;
        margin-top: 20px;
        margin-bottom: 36px;
    }
    .dn-cv a {
        display: block;
        width: 200px;
        height: 70px;
        color: #fff;
        border: 1px solid #615CFD;
        background-color: #615CFD;
        font-size: 19px;
        font-family: 'mulilight';
        font-weight: 400;
        line-height: 70px;
        transition: 0.3s;
    }
    .dn-cv a:hover {
        color: #615CFD;
        background-color: #fff;
        transition: 0.3s;
    }
    .backtext{
        font-size: calc(20vw + 10px);
        font-weight: 700;
        margin-left: 22%;
        opacity: 10%;
        top:-70px;
    }
    .gerdali{
        right: 0%;
        bottom:50%;
        z-index: 2;
    }

/*quotation*/
    .quotation{
        background: url(../images/bannerkeyboard.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .carousel p{
        font-size: calc(1vw + 7px);
    }
    .carousel h3,
    .carousel span{
        font-size: calc(1vw + 2px);
    }
/*discuss*/
.discuss{
    background-color:  rgb(20, 36, 51);
    padding-top: 150px;
    padding-bottom: 50px;
}
.dsc-btn {
    background: #615CFD;
    padding: 14px 38px;
    font-family: 'muliregular';
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

.dsc-btn:hover {
    border: 1px solid #615CFD;
    color: #615CFD !important;
    background: transparent;
}
/*footer*/
.foot1,
.foot2{
    background-color:  rgb(20, 36, 51);
}
.footmenu ul li a {
    font-size: 15px;
    font-weight: 500;
}
.footer .footer_top .footmenu ul li a:hover {
    color: #615CFD;
}
.foot2 .line2{
    border-top: 1px solid #334A60;
}