.mainimage{
    height: 900px;
}
.boxes{
    width:278px;
}
.vbox{
    width: 348px;
}
.quotation{
    padding-top: 130px;
    padding-bottom: 130px;
}
/*viewer*/
.viewer{
    padding-top: 75px;
    padding-bottom: 120px;
}