

@font-face {
    font-family: 'muliregular';
    src: url('../font/webfontkit-20231202-123258/muli-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulibold';
    src: url('../font/webfontkit-20231202-123258/muli-bold-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulibolditalic';
    src: url('../font/webfontkit-20231202-123258/muli-bolditalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muliextralight';
    src: url('../font/webfontkit-20231202-123258/muli-extralight-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muliextralightitalic';
    src: url('../font/webfontkit-20231202-123258/uli-extralightitalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'muliregularitalic';
    src: url('../font/webfontkit-20231202-123258/muli-italic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulilight';
    src: url('../font/webfontkit-20231202-123258/muli-light-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulilightitalic';
    src: url('../font/webfontkit-20231202-123258/muli-lightitalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mulisemibold';
    src: url('../font/webfontkit-20231202-123258/muli-semibold-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulisemibolditalic';
    src: url('../font/webfontkit-20231202-123258/muli-semi-bolditalic-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-semi-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'muliregular';
    src: url('../font/webfontkit-20231202-123258/muli-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20231202-123258/muli-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html,body{
    font-family: 'muliregular';
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
.tf2{
    font-size: calc(1.5vw + 1px);
    font-family: 'muliextralight';
}
.tf3{
    font-size: calc(3vw + 7px);
    font-weight: 700;
    line-height: 60px;
    font-weight: bolder;
}


.mainimage{
    background:url(../images/boyheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn1{
    background-color: rgb(199, 59, 199);
    border: none;
    border-radius: 0;
}

.line{
    width: 1px;
    height:75px;
}
.boxes{
    border:1px solid rgba(195, 190, 190, 0.413);
    transition: 1s;
}
.boxes:hover{
    border:1.5px solid rgb(132, 40, 212);
}
.btn-outline-primary{
    border-radius: 0;
}
.gerdali{
    right: 16%;
    top:-14%;
    z-index: 2;
}




.bigimagebox{
    margin-top:-370px;
}

.bigimagebox .oneimage {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.bigimagebox .oneimage .aks {
    height: 410px;
}

.bigimagebox .oneimage .aks img {
    width: 100%;
    height: 100%;
}

.bigimagebox .oneimage .page2 {
    left: 0;
    top: 0;
    background: rgba(159, 92, 253, 0.6);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.bigimagebox .oneimage .page2 .title {
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.bigimagebox .oneimage .page2 h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.bigimagebox .oneimage:hover .page2 {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
}